<h1>Task Saver</h1>

<h3>Save the tasks you need to get to later</h3>

<ul>
  {{#each tasks}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Task: {{this.task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/todo" method="POST"> 
{{!-- action is where you're sending it to on the server --}}
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>
